/*sbros stilei*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, p, h1, h2, h3, h5, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/*sbros stilei zakonchen*/
/*vstroika osnovnih stilei*/

  
  body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: var(--dark);
  }
  
  h1 {
    font-size: 48px;
    line-height: 120%;
    font-weight: 800;
    margin-bottom: 28px;
    @media screen and (max-width: $md) {
      font-size: 36px;
    }
    @media screen and (max-width: $sm) {
      font-size: 32px;
    }
  }
  
  h2 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 40px;
    @media screen and (max-width: $md) {
      font-size: 32px;
      margin-bottom: 28px;
    }
  }
  
  /*konets vstroika osnovnih stilei*/